---
layout: page
title: Soil spectral libraries
excerpt: "Spectral soil exploration"
image: rainfall-delta_3B43_trmm_2001-2016_mk-z-ts-model
search_omit: true
---

<h1>Open Soil Spectral Library</h1>

A short hands-on blog for working with the Open Soil Spectral Library (OSSL) and other spectral data.

<h2>Python package</h2>

If you want to process spectral data and try to model soil properties, I have developed a soil spectral processing package for the Open Soil Spectral Library (OSSL). The posts in this "Python package" section outline how to 1) clone or download the OSSL python package, 2) setup a virtual python environment in Anaconda, 3) install and setup the IDE Eclipse for running the python package and 4) run the python scripts; I then added a fifth post on how to add the regressor Cubist to the OSSL python package.

If you are familiar with Python and its packages you only need to clone or download the python package and the example framework (1) and then edit the paths in the example framework to fit your local setup (4). If you want to add the Cubist regressor you also need to have a look at the last post (5) in this series.

<ul class="post-list">
{% for post in site.categories.libspectrosupport reversed %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h2>Detailed instructions</h2>

The detailed instructions include a short introduction to OSSL with links to various resources. Then follows a step-by-step manual on retrieving data from OSSL. All the following posts build a continuing series on how to process the OSSL data using the OSSL python package, ending up in Machine Learning (ML) models using spectral data as covariates for prediciting different soil properties.

<ul class="post-list">
{% for post in site.categories.libspectrodata reversed %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
